body{
    background-color: aliceblue;
    height: 100vh;

    display: flex;

    border-radius: 110px;
    border: 15px ridge beige;
    margin-left: 10px;
    margin-right: 10px;
}

.menu{
    width: 33.33%;
}

.one{
    display: flex;
    justify-content:center;
    align-items: center;
}

.picp{
    width: 75%;
    border-radius: 50%;
    border: 3px solid black;
}

.two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.cadre{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

p{
    text-align: center;
}