/* ----- Active Desktop ----- */

@media(max-width: 1335px){
    .container {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        row-gap: 30px;
      }
}

/* ----- Tablet Ladscape ----- */

@media(max-width: 1200px) and (min-width: 900px) {
    .container {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        row-gap: 30px;
      }
      .card:focus .card-inner {
        transform: rotateY(180deg);
      }
}

/* ----- Tablet portrait ----- */

@media(max-width:900px) and (min-width: 768px) {
    .container {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        row-gap: 30px;
      }
      .card:focus .card-inner {
        transform: rotateY(180deg);
      }
}

/* ----- Mobile Phone ----- */

@media(max-width: 767px){
    .container {  
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        row-gap: 30px;
      }
      .card:focus .card-inner {
        transform: rotateY(180deg);
      }
}