@import '_variables';
@import '_mixins';

/* ---------- Reset CSS ---------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* ---------- General Style ---------- */

body{
    background: $background;

    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-variant: small-caps;
}

/* ---------- Card Style ---------- */

.container {  
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 75px auto;
    padding: 50px;

      .card{
         @include radiuss;
         background-color: beige;
         @include standardShadow;
         width: 300px;
         height: 450px;
         perspective: 1000px;

          .card-inner {
              @include cardRel; 
              text-align: center;
              transition: transform 0.8s;
              transform-style: preserve-3d;

              .card-front {
                background-color: #bbb;
                color: black;
                @include radiuss;
                @include flexin;
                gap: 30px;
              }
              
              .card-back {
                background-color: $background;
                color: white;
                transform: rotateY(180deg);
                @include radiuss;
                @include flexin;
              }
        }
  }
  }
/* ---------- Card Animation ---------- */

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  @include cardAbs;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* ---------- Image & Icons Resize ---------- */

.profilP{
  border: 1px transparent $background;
  border-radius: 50%;
  width: 200px;
  margin: 20px;
}

.fa-solid{
  font-size: 2em;
}

.fa-phone{
  font-size: 1em;
}

/* ---------- Career List ---------- */

.card-back__career-list{
  @include flexin;
  gap: 35px;
  .career{
    list-style-type: none;
    font-size: larger;
  }
}

/* ---------- Skill List ---------- */

.card-back__skill-list{
  @include flexin;
  gap: 50px;
  .skill{
    list-style-type: none;
    @include flexin;
    progress{
      width: 250px;
      height: 15px;
      border: 3px solid beige;
      background: beige;
      border-radius: 8px;
    }
    progress::-webkit-progress-value {
      background: #bbb;
    }
    
    progress::-webkit-progress-bar {
      background: beige;
    }
  }
}

/* ---------- Contact List --------- */

.card-back__contact-list{
  @include flexin;
  gap: 25px;
  .list-contact{
    list-style-type: none;
    font-size: 1.5em;
    @include flexin;
    gap: 8px;
    .contact-list--link:link, .contact-list--link:visited{
      text-decoration: none;
      color: beige;
    }
  }
}

.contact-list--link:hover{
  text-shadow:
  0 0 7px beige,
  0 0 10px beige,
  0 0 42px #bbb,
  0 0 77px #bbb,
  0 0 100px #bbb;
}